<div class="browseBackground footerWrap">
    <h3>Recipes: Try some today!</h3>
    <div class="browseWrapper">
        <div class="recipe">
            <div class="image"><img src="../assets/recipe-pizza.jpg"></div>
                <div class="info">
                    <h4>Supreme Pizza</h4>
                    <p>Make pizza night super 
                        duper out of this world with 
                        homemade pizza. This recipe 
                        is supreme with vegetables 
                        and two types of meat. Yum!</p>
                <div class="time"><p> 1h 24min</p></div>
                <div class="serve"><p>4 servings</p></div>
            </div>
        </div>
        <div class="recipe">
            <div class="image"><img src="../assets/recipe-burger.jpg"></div>
                <div class="info">
                    <h4>Classic Burger</h4>
                    <p>Sink your teeth into a delicious 
                        restaurant-style, hamburger recipe 
                        made from lean beef. Skip the 
                        prepackaged patties and take the 
                        extra time to craft up your own, 
                        and that little extra effort will be 
                        worth it.</p>
                <div class="time"><p> 30 min</p></div>
                <div class="serve"><p>4 servings</p></div>
            </div>
        </div>
    </div>
</div>
