<div class="createBackground footerWrap">
    <div class="newRecipe">
        <div class="info">
            <div class="user"></div>
            <input type="text" id="recipeImage" placeholder="Add Recipe Image" required>
            <input type="text" id="recipeName" placeholder="Recipe Name"required>
            <input type="text" id="description" placeholder="Description" required>
            <input type="text" id="time" placeholder="Recipe Total Time" required>
            <input type="text" id="servingSize" placeholder="Recipe Serving Size" required>
            <button type="submit" id ="addImage">Attach file</button>
        </div>
        <div class="ingredients">
            <h3>Ingredients</h3>
                <input type="text" id="ingredient1" placeholder="Ingredient #1">
                <input type="text" id="ingredient2" placeholder="Ingredient #2">
                <input type="text" id="ingredient3" placeholder="Ingredient #3">
                <button type="submit" id ="addIngredient">+</button>
        </div>
        <div class="instructions">
            <h3>Instructions</h3>
            <input type="text" id="instruction1"  placeholder="Instruction #1">
            <input type="text" id="instruction2" placeholder="Instruction #2">
            <input type="text" id="instruction3" placeholder="Instruction #3">
            <button type="submit" id ="addInstruction">+</button>
        </div>
            <button type="submit" id="createRecipe">Create Recipe</button>
    </div>
</div>