<div class="loginBackground footerWrap">
    <div class="login">
        <h2>Login Here!</h2>
        <input type="email" class="email" placeholder="Email Address" required>
        <input type="password" class="pWord" minlength="8" placeholder="Password" required>
        <button class="loginBtn" value="Login">Login</button>
    </div>
    <div class="signUp">
        <h5>don't have an account?</h5>
        <h2>Sign Up!</h2>
        <input type="text" class="fName" placeholder="First Name">
        <input type="text" class="lName" placeholder="Last Name">
        <input type="email" class="email" placeholder="Email Address"  required>
        <input type="password" class="pWord" minlength="8" placeholder="Password" required>
        <button class="signUpBtn" value="Login">Sign Up</button>
    </div>
</div>