<div class="header">
    <div><img src="../assets/logo.svg"></div>
        <div class="navicon">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
        <nav>
            <div class="links">
                <a id="home" href="#">Home</a>
                <a id="browse" href="#">Browse</a>
                <a id="createRecipes" href="#">Create Recipe</a>
                <a id="yourRecipes" style="display: none;" href="#">Your Recipes</a>
                <a id="login" href="#">Login</a>
                <a id="logout" style="display: none;" href="#">Logout</a>
            </div>
        </nav>
</div>