<div class="viewBackground footerWrap">
    <div class="viewWrapper">
        <h2></h2>
        <div class="viewRecipe">
            <div class="image"></div>
                <div class="info1">
                    <h3>Description:</h3>
                        <p></p>
                    <div class="time"><h4>Total Time:</h4><p></p></div>
                    <div class="serve"><h4>Servings:</h4><p></p></div>
                </div>
        </div>
        <div class="info2">
            <div class="ingredients">
                <h3>Ingredients</h3>
            </div>
            <div class="instructions">
                <h3>Instructions</h3>
            </div>   
            <button id="editBtn" value="Edit">Edit Recipe</button>
        </div>
    </div>
</div>