<div id="carousel">
    <figure>
        <div class="image1">
            <div class="text1"><h1>Ruins</h1></div>
            <img src="assets/image1.jpg">
            </div>
        <div class="image2">
            <div class="text2"><h1>Castle</h1></div>
            <img src="assets/image2.jpg">
        </div>
        <div class="image3">
            <div class="text3"><h1>City</h1></div>
            <img src="assets/image3.png">
        </div>
        <div class="image4">
            <div class="text4"><h1>Grove</h1></div>
            <img src="assets/image4.jpg">
        </div>
    </figure>
</div>
